<br>
<section class="message-right"
    style="text-align: center">
    <section class="message-right">
        <div class="nes-balloon nes-pointer">
            <div style="text-align: center">
            <h1 style="text-align:center">  \  Pikachu  /</h1>
        </div>
    </div>
    </section>
    <img [src]="pikachu" alt="Hi Pikachu"/>
</section>
         
        
<br>
<app-login-form></app-login-form>
