<!-- display username and logout button -->
<section class="trainerSection">
  <h1>Hello, {{ trainer.username }}!</h1> 
  <!-- Copyright Nintendo -->
  <i class="nes-ash"></i>
  <button type="button" class="nes-btn is-error logout-button" (click)="logout()">Log Out</button>
</section>

<!-- check if trainer has any pokemon, if so create owned list component -->
<app-owned-list *ngIf="trainer.pokemon.length > 0" [pokemons]="trainer.pokemon" (releasePokemonEvent)="removePokemon($event)"></app-owned-list>
<!-- else show this -->
<h2 *ngIf="trainer.pokemon.length === 0" class="no-pokemon">You have not caught any Pokemon yet <i class="nes-pokeball"></i></h2>