.trainerSection
    display: flex
    flex: wrap
    flex-direction: row
    justify-content: center
    align-items: center
    height: 6em

.no-pokemon
    text-align: center

.logout-button
    position: absolute
    right: 2rem