<!-- display if pokemons exist -->
<div *ngIf="pokemons" class="card-display nes-container is-rounded">
    <!-- loop through list of pokemon and create owned item component for each -->
    <app-owned-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (releasePokemonEvent)="releasePokemon($event)">
    </app-owned-item>
</div>
