<!-- display image and name if pokemon exist -->
<div *ngIf="pokemon" class="nes-container is-rounded is-centered card">
    <img [src]="imageUrl" alt="img not found">
    <p class="text-wrap"> {{ pokemon }} </p>
    <button type="button" class="nes-btn is-error" (click)="releasePokemon(pokemon)">Release {{ pokemon }}</button>
</div>