.pokemon-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    
    
.card-display 
    display: flex
    flex-wrap: wrap
    align-items: stretch
    justify-content: space-around
    width: 1200px
    border-style: solid
    
