<section class="pokemon-list ">
    <div *ngIf="pokemon" class="card-display nes-container is-rounded">
        <app-pokemon-item
            *ngFor="let singlePokemon of pokemon" 
            [singlePokemon]="singlePokemon"
            (pokemonClick)="sendPokemonToTrainer($event)">
        </app-pokemon-item>
    </div>
</section>

