<div> 
    <div *ngIf="singlePokemon" class="nes-container is-rounded card">
        
        <!-- Copyright Nintendo -->
        <i *ngIf="caught" class="nes-pokeball"></i>
        <img *ngIf="!caught" [src]="singlePokemon.imageURL"  alt="img not found">
        <p>{{ singlePokemon.name }}</p>
        <button [disabled]="caught" type="button" class="nes-btn" [ngClass]="{'is-disabled': caught, 'is-warning': !caught}" (click)="onPokemonClick(singlePokemon)">Catch</button>
    </div>
 </div>