<div class="nes-container with-title is-centered">
    <div class="nes-field">
        <br>
        <br>
        <form #createForm="ngForm" 
                (ngSubmit)="onTrainerCreateSubmit(createForm)">
            <label for="name-field"
                for="name"
                class="loginTitle">What's your name, trainer?</label>
            <input type="text"
                id="name-field"
                class="nes-input"
                name="trainer"
                ngModel #trainer="ngModel"
                minlength="2"
                required
                placeholder="NAME"/>
                <br>
            <div id="trainerNameError" *ngIf="trainer.invalid && (trainer.touched || trainer.dirty)"
                class="nes-text is-error">
                <div *ngIf="trainer.errors">
                    <p *ngIf="trainer.errors['required']">Please enter a name</p>
                    <p *ngIf="trainer.errors['minlength']">Too short name! (min. 2)</p>
                </div>
            </div>
            <button type="button"
                type="submit"
                class="nes-btn"
                [disabled]="loading || trainer.errors"
                [ngClass]="{'is-disabled': loading || trainer.errors, 'is-primary': !loading && !trainer.errors}"
                >S T A R T</button>
        </form>
    </div>    
