<div class="nav">
    <h3>Pokemon Trainer</h3>

    <!-- check if logged if and display -->
    <div *ngIf="trainer.username !== ''" class="nav-buttons">
        <a class="navLink" routerLink="/catalog" routerLinkActive="">Catalog</a>
        <a  class="navLink" routerLink="/trainer" routerLinkActive="active">Trainer</a>
    </div>
</div>
