.nav
    display: flex
    justify-content: space-between
    align-items: center
    text-align: center

    position: fixed
    overflow: hidden
    top: 0
    width: 100%
    z-index: 20

    border-bottom: 0.25rem solid black
    background-color: #FBAF00
    padding: 1rem

h3
    margin: 0

.nav-buttons
    display: flex
    gap: 1rem


.navLink
    color: black 