/* You can add global styles to this file, and also import other style files */
@import "../node_modules/nes.css/css/nes.css"
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

html
    height: 100%

body
    font-family: 'Press Start 2P', cursive
    border: solid
    min-height: 100%